name: Auto Sync TWTV

on:
  schedule:
    - cron: '0 * * * *'  # 每小时自动运行一次
  workflow_dispatch:      # 允许手动点击运行

jobs:
  update-list:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install requests

      - name: Run update script
        run: python update_streams.py

      - name: Commit and Push
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Action"
          git add TWTV.m3u
          git commit -m "Update Chengdu TV Auth Tokens" || echo "No changes to commit"
          git push
